body {
    margin: 20px;
    padding: 0;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}

img {
    max-width: 100%;
    border-radius: 20px;
}

.container {
    background-color: white;
    padding: 1.25rem;
    border-radius: 20px;
}

.content h1 {
    font-size: 2rem;
    color: hsl(218, 44%, 22%);
}

.content p {
    color: hsl(220, 15%, 55%);
}

.acknowledgement {
    margin: 20px;
}

@media (min-width: 500px) {
    .container {
        width: 400px;
    }
}